In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("Adidas US Sales Datasets.csv")

num_missing_rows = np.random.choice(df.index, size=50, replace=False) 

for row_index in num_missing_rows:
    num_missing = np.random.choice([1,2,3]) 
    missing_columns = np.random.choice(df.columns, num_missing, replace=False)

    for col in missing_columns:
        df.at[row_index, col] = np.nan

df.to_csv("data_with_missing_values.csv", index=False, na_rep='NaN')

print(df)
Total = 0
for i in df.columns:
    if df[i].isnull().sum() >= 1:
        print("Missing Value in",i,"=", df[i].isnull().sum())
        Total += df[i].isnull().sum()
print("Total missing values =", Total)



print('\nDisplaying all Missing Data\n')
df_missingvalue = df[df.isna().any(axis=1)]
print(df_missingvalue)

print('\nDisplaying 1 Column Missing Data\n')
rows_with_1_missing_value = df[df.isnull().sum(axis=1) == 1]
print (rows_with_1_missing_value)

         Retailer  Retailer ID Invoice Date     Region          State  \
0     Foot Locker    1185732.0     1/1/2020  Northeast       New York
1     Foot Locker    1185732.0     1/2/2020  Northeast       New York
2     Foot Locker    1185732.0     1/3/2020  Northeast       New York
3     Foot Locker    1185732.0     1/4/2020  Northeast       New York
4     Foot Locker    1185732.0     1/5/2020  Northeast       New York
...           ...          ...          ...        ...            ...
9643  Foot Locker    1185732.0    1/24/2021  Northeast  New Hampshire
9644  Foot Locker    1185732.0    1/24/2021  Northeast  New Hampshire
9645  Foot Locker    1185732.0    2/22/2021  Northeast  New Hampshire
9646  Foot Locker    1185732.0    2/22/2021  Northeast  New Hampshire
9647  Foot Locker    1185732.0    2/22/2021  Northeast  New Hampshire

            City                    Product Price per Unit Units Sold  \
0       New York      Men's Street Footwear        $50.00       1,200
1       New York    Men's Athletic Footwear        $50.00       1,000
2       New York    Women's Street Footwear        $40.00       1,000
3       New York  Women's Athletic Footwear        $45.00         850
4       New York              Men's Apparel        $60.00         900
...          ...                        ...            ...        ...
9643  Manchester              Men's Apparel        $50.00          64
9644  Manchester            Women's Apparel        $41.00         105
9645  Manchester      Men's Street Footwear        $41.00         184
9646  Manchester    Men's Athletic Footwear        $42.00          70
9647  Manchester    Women's Street Footwear        $29.00          83

     Total Sales Operating Profit Operating Margin Sales Method
0      $600,000         $300,000               50%     In-store
1      $500,000         $150,000               30%     In-store
2      $400,000         $140,000               35%     In-store
3      $382,500         $133,875               35%     In-store
4      $540,000         $162,000               30%     In-store
...          ...              ...              ...          ...
9643     $3,200             $896               28%       Outlet
9644     $4,305           $1,378               32%       Outlet
9645     $7,544           $2,791               37%       Outlet
9646     $2,940           $1,235               42%       Outlet
9647     $2,407             $650               27%       Outlet

[9648 rows x 13 columns]
Missing Value in Retailer = 8
Missing Value in Retailer ID = 10
Missing Value in Invoice Date = 8
Missing Value in Region = 3
Missing Value in State = 8
Missing Value in City = 8
Missing Value in Product = 10
Missing Value in Price per Unit = 8
Missing Value in Units Sold = 6
Missing Value in Total Sales = 6
Missing Value in Operating Profit = 8
Missing Value in Operating Margin = 11
Missing Value in Sales Method = 6
Total missing values = 100

Displaying all Missing Data

           Retailer  Retailer ID Invoice Date     Region           State  \
216          Kohl's          NaN    3/11/2021       West      California
309     Foot Locker    1185732.0          NaN    Midwest        Illinois
473     Foot Locker    1185732.0    12/6/2021  Northeast    Pennsylvania
592       West Gear          NaN     4/4/2020       West        Colorado
988   Sports Direct          NaN     5/5/2021      South       Tennessee
1133            NaN    1197831.0    9/27/2021      South             NaN
1462      West Gear    1185732.0    6/10/2021  Northeast        New York
1515         Kohl's    1185732.0    3/10/2021       West         Wyoming
1637            NaN    1128299.0          NaN  Southeast        Virginia
1848      West Gear    1185732.0   10/11/2021       West             NaN
1938      West Gear    1128299.0          NaN       West          Oregon
1944      West Gear          NaN    2/17/2021      South             NaN
2747      West Gear    1197831.0    4/20/2021      South        Oklahoma
2828         Kohl's          NaN    5/12/2021    Midwest          Kansas
2983            NaN    1185732.0     7/8/2021        NaN    North Dakota
3134      West Gear    1185732.0     8/3/2021    Midwest       Wisconsin
3739         Amazon    1185732.0    1/14/2021  Northeast   Massachusetts
3758         Amazon          NaN    4/11/2021  Northeast         Vermont
3835         Amazon    1185732.0          NaN        NaN   New Hampshire
4127         Kohl's          NaN    4/16/2021       West      California
4209    Foot Locker    1185732.0     7/7/2021    Midwest        Illinois
4383    Foot Locker    1185732.0          NaN  Northeast    Pennsylvania
4488            NaN    1128299.0    4/12/2020       West        Colorado
4580            NaN    1128299.0    7/13/2020       West      Washington
4636      West Gear    1185732.0     9/7/2020  Southeast             NaN
4670  Sports Direct    1185732.0          NaN  Southeast         Florida
4869            NaN    1197831.0    4/28/2021      South       Tennessee
4939            NaN    1185732.0     7/7/2021    Midwest        Nebraska
4965  Sports Direct    1197831.0     8/2/2021    Midwest        Nebraska
5020  Sports Direct    1197831.0    9/26/2021      South         Alabama
5029  Sports Direct    1197831.0    10/5/2021      South         Alabama
5038         Amazon    1185732.0   10/14/2021      South         Alabama
5053         Amazon    1185732.0   10/29/2021  Northeast           Maine
5347      West Gear    1185732.0          NaN  Northeast        New York
5407         Kohl's    1185732.0    3/10/2021       West             NaN
5872      West Gear          NaN    9/18/2021      South       Louisiana
6060         Kohl's    1128299.0    4/26/2021        NaN             NaN
6276  Sports Direct    1185732.0     4/3/2021  Southeast  North Carolina
6462    Foot Locker    1185732.0   11/22/2021  Southeast        Kentucky
6618      West Gear    1197831.0    1/23/2021      South        Arkansas
7205      West Gear    1185732.0    3/20/2021  Northeast        Maryland
7449  Sports Direct          NaN     8/4/2021  Northeast     Connecticut
7621         Amazon    1185732.0   12/13/2021  Northeast             NaN
7781    Foot Locker    1185732.0     1/6/2020  Northeast        New York
7962            NaN    1128299.0    1/22/2021       West      California
8317  Sports Direct    1197831.0    4/20/2021      South       Tennessee
8736      West Gear          NaN    6/17/2021      South       Louisiana
8884    Foot Locker    1128299.0          NaN       West         Arizona
9249      West Gear    1197831.0    8/20/2021      South             NaN
9389    Foot Locker    1185732.0     7/6/2021  Northeast    Rhode Island

                City                    Product Price per Unit Units Sold  \
216              NaN              Men's Apparel        $50.00         500
309          Chicago                        NaN        $55.00         200
473     Philadelphia                        NaN        $55.00         200
592           Denver    Women's Street Footwear        $65.00         375
988              NaN    Women's Street Footwear        $40.00         525
1133      Birmingham  Women's Athletic Footwear        $35.00         325
1462          Albany    Men's Athletic Footwear        $55.00         625
1515        Cheyenne                        NaN        $40.00         820
1637        Richmond    Women's Street Footwear        $45.00         475
1848  Salt Lake City  Women's Athletic Footwear            NaN        275
1938        Portland  Women's Athletic Footwear        $45.00         250
1944     New Orleans  Women's Athletic Footwear        $45.00         250
2747   Oklahoma City    Women's Street Footwear        $15.00         225
2828         Wichita            Women's Apparel        $45.00         325
2983           Fargo              Men's Apparel        $50.00         200
3134       Milwaukee            Women's Apparel        $55.00         350
3739             NaN                        NaN        $55.00         225
3758             NaN            Women's Apparel        $45.00         300
3835      Manchester              Men's Apparel        $65.00         300
4127     Los Angeles  Women's Athletic Footwear        $41.00         154
4209         Chicago    Men's Athletic Footwear            NaN         81
4383    Philadelphia    Men's Athletic Footwear            NaN         69
4488          Denver              Men's Apparel        $63.00         NaN
4580             NaN      Men's Street Footwear        $64.00         156
4636           Miami                        NaN        $49.00         208
4670           Miami      Men's Street Footwear        $63.00         323
4869       Knoxville    Men's Athletic Footwear        $47.00         169
4939           Omaha            Women's Apparel        $44.00          69
4965           Omaha    Men's Athletic Footwear        $29.00         NaN
5020      Birmingham    Women's Street Footwear            NaN        124
5029      Birmingham                        NaN        $56.00         188
5038      Birmingham    Women's Street Footwear        $28.00          63
5053        Portland                        NaN        $36.00         NaN
5347          Albany              Men's Apparel            NaN        NaN
5407        Cheyenne              Men's Apparel            NaN        126
5872     New Orleans    Men's Athletic Footwear        $46.00         125
6060     Albuquerque  Women's Athletic Footwear        $54.00          87
6276       Charlotte  Women's Athletic Footwear            NaN        140
6462             NaN  Women's Athletic Footwear        $52.00         NaN
6618     Little Rock                        NaN        $18.00          65
7205       Baltimore                        NaN        $24.00          53
7449             NaN      Men's Street Footwear        $51.00         163
7621          Boston                        NaN        $62.00         NaN
7781        New York            Women's Apparel            NaN        330
7962   San Francisco              Men's Apparel        $59.00         263
8317             NaN            Women's Apparel        $38.00         272
8736     New Orleans  Women's Athletic Footwear        $59.00         184
8884         Phoenix    Men's Athletic Footwear        $40.00         163
9249   Oklahoma City      Men's Street Footwear        $41.00         230
9389      Providence    Women's Street Footwear        $27.00          78

     Total Sales Operating Profit Operating Margin Sales Method
216    $250,000         $137,500               55%       Outlet
309    $110,000          $38,500               35%       Outlet
473    $110,000          $44,000               40%       Outlet
592    $243,750          $85,313               NaN     In-store
988    $210,000          $94,500               45%       Outlet
1133   $113,750          $68,250               60%       Outlet
1462         NaN        $120,313               NaN     In-store
1515         NaN        $164,000               50%     In-store
1637         NaN         $74,813               35%     In-store
1848    $55,000          $22,000               40%     In-store
1938   $112,500          $45,000               40%     In-store
1944   $112,500          $45,000               40%     In-store
2747    $33,750          $13,500               40%          NaN
2828   $146,250          $51,188               35%       Online
2983   $100,000          $35,000               NaN     In-store
3134   $192,500          $77,000               NaN     In-store
3739   $123,750          $43,313               35%     In-store
3758   $135,000               NaN              40%     In-store
3835   $195,000          $58,500               30%     In-store
4127     $6,314               NaN              48%       Online
4209     $3,483               NaN              45%       Online
4383     $3,795           $1,708               NaN       Online
4488         NaN          $2,107               76%       Online
4580     $9,984           $4,093               NaN       Online
4636    $10,192           $3,567               35%       Online
4670    $20,349          $11,395               56%       Online
4869     $7,943           $4,766               60%       Online
4939     $3,036               NaN              60%       Online
4965     $5,684           $3,069               54%       Online
5020     $3,968               NaN              60%          NaN
5029    $10,528           $8,317               79%       Online
5038     $1,764             $917               NaN       Online
5053     $1,800             $990               NaN       Online
5347     $7,672           $3,759               49%       Online
5407     $5,922           $2,665               45%       Online
5872     $5,750           $2,933               51%       Online
6060     $4,698           $2,161               46%          NaN
6276         NaN          $1,814               54%          NaN
6462     $2,704           $1,352               50%       Online
6618     $1,170               NaN              55%       Online
7205     $1,272             $623               49%       Online
7449     $8,313               NaN              55%       Online
7621     $5,208           $2,031               39%       Online
7781    $12,540           $4,013               32%       Outlet
7962    $15,517           $8,845               57%       Outlet
8317         NaN          $6,408               62%       Outlet
8736    $10,856           $5,102               NaN          NaN
8884     $6,520           $2,999               46%       Outlet
9249     $9,430           $3,961               NaN          NaN
9389     $2,106               NaN              NaN       Outlet

Displaying 1 Column Missing Data

           Retailer  Retailer ID Invoice Date     Region         State  \
473     Foot Locker    1185732.0    12/6/2021  Northeast  Pennsylvania
1938      West Gear    1128299.0          NaN       West        Oregon
2747      West Gear    1197831.0    4/20/2021      South      Oklahoma
2828         Kohl's          NaN    5/12/2021    Midwest        Kansas
3134      West Gear    1185732.0     8/3/2021    Midwest     Wisconsin
4670  Sports Direct    1185732.0          NaN  Southeast       Florida
4869            NaN    1197831.0    4/28/2021      South     Tennessee
4965  Sports Direct    1197831.0     8/2/2021    Midwest      Nebraska
5029  Sports Direct    1197831.0    10/5/2021      South       Alabama
5038         Amazon    1185732.0   10/14/2021      South       Alabama
5872      West Gear          NaN    9/18/2021      South     Louisiana
7205      West Gear    1185732.0    3/20/2021  Northeast      Maryland
7781    Foot Locker    1185732.0     1/6/2020  Northeast      New York
7962            NaN    1128299.0    1/22/2021       West    California
8884    Foot Locker    1128299.0          NaN       West       Arizona

               City                    Product Price per Unit Units Sold  \
473    Philadelphia                        NaN        $55.00         200
1938       Portland  Women's Athletic Footwear        $45.00         250
2747  Oklahoma City    Women's Street Footwear        $15.00         225
2828        Wichita            Women's Apparel        $45.00         325
3134      Milwaukee            Women's Apparel        $55.00         350
4670          Miami      Men's Street Footwear        $63.00         323
4869      Knoxville    Men's Athletic Footwear        $47.00         169
4965          Omaha    Men's Athletic Footwear        $29.00         NaN
5029     Birmingham                        NaN        $56.00         188
5038     Birmingham    Women's Street Footwear        $28.00          63
5872    New Orleans    Men's Athletic Footwear        $46.00         125
7205      Baltimore                        NaN        $24.00          53
7781       New York            Women's Apparel            NaN        330
7962  San Francisco              Men's Apparel        $59.00         263
8884        Phoenix    Men's Athletic Footwear        $40.00         163

     Total Sales Operating Profit Operating Margin Sales Method
473    $110,000          $44,000               40%       Outlet
1938   $112,500          $45,000               40%     In-store
2747    $33,750          $13,500               40%          NaN
2828   $146,250          $51,188               35%       Online
3134   $192,500          $77,000               NaN     In-store
4670    $20,349          $11,395               56%       Online
4869     $7,943           $4,766               60%       Online
4965     $5,684           $3,069               54%       Online
5029    $10,528           $8,317               79%       Online
5038     $1,764             $917               NaN       Online
5872     $5,750           $2,933               51%       Online
7205     $1,272             $623               49%       Online
7781    $12,540           $4,013               32%       Outlet
7962    $15,517           $8,845               57%       Outlet
8884     $6,520           $2,999               46%       Outlet