In [134]:
import pandas as pd
import numpy as np

data = pd.DataFrame(np.random.randn(100, 4))
print(data)
data.describe()

           0         1         2         3
0  -1.450009  1.359142 -1.327007  0.483283
1  -0.184898 -0.841008 -0.288439 -0.250098
2  -0.696157 -0.633107  0.721091 -0.986651
3  -0.388462 -0.720607  2.060820 -0.250509
4  -1.881721  1.659202 -0.878042  0.891667
..       ...       ...       ...       ...
95 -1.053702  1.845535 -0.898571  1.483573
96 -0.808991  1.533589 -0.424389  1.129951
97 -0.119545  0.909522  0.581598 -0.394668
98  0.422907 -0.610420  0.003429 -0.529256
99  0.627368 -0.028817  1.160282 -0.235156

[100 rows x 4 columns]

                0           1           2           3
count  100.000000  100.000000  100.000000  100.000000
mean    -0.063058   -0.113220    0.081687   -0.031064
std      0.950705    0.941297    1.001953    1.042683
min     -2.635737   -2.223513   -2.646895   -2.295634
25%     -0.713031   -0.841021   -0.552890   -0.801257
50%     -0.082420   -0.220002    0.025827   -0.026099
75%      0.559089    0.526160    0.807026    0.627692
max      2.695703    2.101591    2.635706    3.219442

Looking Outlier in Columns

In [135]:
col = data[2]
print (col)
abscol = col[np.abs(col) > 3]
abscol

0    -1.327007
1    -0.288439
2     0.721091
3     2.060820
4    -0.878042
        ...
95   -0.898571
96   -0.424389
97    0.581598
98    0.003429
99    1.160282
Name: 2, Length: 100, dtype: float64

Series([], Name: 2, dtype: float64)

Looking Outlier that above 3 in a row

In [136]:
data[(np.absolute(data) > 3).any(1)]

C:\Users\yamin\AppData\Local\Temp\ipykernel_14304\2671033683.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  data[(np.absolute(data) > 3).any(1)]

           0         1         2         3
91 -1.612457 -0.761773 -1.668326  3.219442

In [137]:
data.describe()

                0           1           2           3
count  100.000000  100.000000  100.000000  100.000000
mean    -0.063058   -0.113220    0.081687   -0.031064
std      0.950705    0.941297    1.001953    1.042683
min     -2.635737   -2.223513   -2.646895   -2.295634
25%     -0.713031   -0.841021   -0.552890   -0.801257
50%     -0.082420   -0.220002    0.025827   -0.026099
75%      0.559089    0.526160    0.807026    0.627692
max      2.695703    2.101591    2.635706    3.219442

Normallize data

In [138]:
Filtered_data = data[np.abs(data) > 3] = np.sign(data) * 3
print (Filtered_data)
data.describe()

      0    1    2    3
0  -3.0  3.0 -3.0  3.0
1  -3.0 -3.0 -3.0 -3.0
2  -3.0 -3.0  3.0 -3.0
3  -3.0 -3.0  3.0 -3.0
4  -3.0  3.0 -3.0  3.0
..  ...  ...  ...  ...
95 -3.0  3.0 -3.0  3.0
96 -3.0  3.0 -3.0  3.0
97 -3.0  3.0  3.0 -3.0
98  3.0 -3.0  3.0 -3.0
99  3.0 -3.0  3.0 -3.0

[100 rows x 4 columns]

                0           1           2           3
count  100.000000  100.000000  100.000000  100.000000
mean    -0.063058   -0.113220    0.081687   -0.033258
std      0.950705    0.941297    1.001953    1.035982
min     -2.635737   -2.223513   -2.646895   -2.295634
25%     -0.713031   -0.841021   -0.552890   -0.801257
50%     -0.082420   -0.220002    0.025827   -0.026099
75%      0.559089    0.526160    0.807026    0.627692
max      2.695703    2.101591    2.635706    3.000000

In [139]:
np.sign(data).head()

     0    1    2    3
0 -1.0  1.0 -1.0  1.0
1 -1.0 -1.0 -1.0 -1.0
2 -1.0 -1.0  1.0 -1.0
3 -1.0 -1.0  1.0 -1.0
4 -1.0  1.0 -1.0  1.0

In [140]:
x = -5
y = 10.5
z = -3 + 4  # Complex number

abs_x = abs(x)  # abs_x will be 5
abs_y = abs(y)  # abs_y will be 10.5
abs_z = abs(z)  # abs_z will be the magnitude of the complex number (5.0 in this case)
print (abs_z)

1