Ak Yamin | 
22FTT1344 | 
DA3304 APDA | 
Question 1

In [6]:
import pandas as pd
from numpy import nan as NA


df = pd.DataFrame({ 
'name':['Anastasia','Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score':[12.5,9,16.5,NA,9,20,14.5,NA,8,19],
'attempts':[1,3,2,3,2,3,1,1,2,1],
'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes'],
'labels': ['a','b','c','d','e','f','g','h','l','j']
})

print (df)

        name  score  attempts qualify labels
0  Anastasia   12.5         1     yes      a
1       Dima    9.0         3      no      b
2  Katherine   16.5         2     yes      c
3      James    NaN         3      no      d
4      Emily    9.0         2      no      e
5    Michael   20.0         3     yes      f
6    Matthew   14.5         1     yes      g
7      Laura    NaN         1      no      h
8      Kevin    8.0         2      no      l
9      Jonas   19.0         1     yes      j

Question 1a.

In [2]:
df_reorder = df[['attempts','name','qualify','score','labels']]
print(df_reorder.head(3))

   attempts       name qualify  score labels
0         1  Anastasia     yes   12.5      a
1         3       Dima      no    9.0      b
2         2  Katherine     yes   16.5      c

Question 1.b

In [3]:
df_qualify = df_reorder.loc[(df_reorder['qualify'] == 'yes')]
print (df_qualify.head(3))

   attempts       name qualify  score labels
0         1  Anastasia     yes   12.5      a
2         2  Katherine     yes   16.5      c
5         3    Michael     yes   20.0      f

Question 1.c

In [4]:
df_point = df_reorder.loc[(df_reorder['score'] >= 12)]
print (df_point.head(3))

   attempts       name qualify  score labels
0         1  Anastasia     yes   12.5      a
2         2  Katherine     yes   16.5      c
5         3    Michael     yes   20.0      f