In [1]:
import pandas as pd

df = pd.read_csv("Dataset.csv")
print (df.head(5))

                       Name                 Type  Level        Race Attribute  \
0             Limit Reverse            Trap Card    NaN  Continuous       NaN
1            The 13th Grave       Normal Monster    3.0      Zombie      DARK
2           Gem-Enhancement            Trap Card    NaN      Normal       NaN
3         Magician's Circle            Trap Card    NaN      Normal       NaN
4  Castle of Dark Illusions  Flip Effect Monster    4.0       Fiend      DARK

      ATK     DEF
0     NaN     NaN
1  1200.0   900.0
2     NaN     NaN
3     NaN     NaN
4   920.0  1930.0

In [2]:
df =df.sort_values('Race', ascending = True)
print (df)

                             Name                     Type  Level    Race  \
1929                    Tradetoad           Effect Monster    1.0    Aqua
1926   Performapal Sellshell Crab  Pendulum Effect Monster    5.0    Aqua
3098                Unformed Void              XYZ Monster    4.0    Aqua
1952      Mobius the Mega Monarch           Effect Monster    8.0    Aqua
3821                  Hitodenchak           Normal Monster    2.0    Aqua
...                           ...                      ...    ...     ...
3514              Wandering Mummy           Effect Monster    4.0  Zombie
1357                 Royal Keeper           Effect Monster    4.0  Zombie
3102  Crimson Knight Vampire Bram              XYZ Monster    5.0  Zombie
487    Koa'ki Meiru Ghoulungulate           Effect Monster    5.0  Zombie
3047                 Bone Crusher           Effect Monster    4.0  Zombie

     Attribute     ATK     DEF
1929     WATER   100.0  2000.0
1926     WATER   500.0  2500.0
3098     LIGHT     0.0     0.0
1952     WATER  2800.0  1000.0
3821     WATER   600.0   700.0
...        ...     ...     ...
3514     EARTH  1500.0  1500.0
1357     EARTH  1600.0  1700.0
3102      DARK  2500.0     0.0
487      EARTH  2500.0  1700.0
3047     EARTH  1600.0   200.0

[6534 rows x 7 columns]

In [3]:
df = df.sort_values('Attribute', ascending = False)
print (df)

                             Name            Type  Level           Race  \
1875          Mist Valley Soldier   Tuner Monster    4.0   Winged Beast
2293  Roc from the Valley of Haze  Effect Monster    6.0   Winged Beast
2382              ZW - Eagle Claw  Effect Monster    5.0   Winged Beast
987                   Nin-Ken Dog  Normal Monster    4.0  Beast-Warrior
170       Gladiator Beast Lanista  Effect Monster    4.0   Winged Beast
...                           ...             ...    ...            ...
805            Vague Shadow Token           Token    NaN   Winged Beast
4444               Seahorse Token           Token    NaN           Wyrm
604            Chewbone Jr. Token           Token    NaN         Zombie
5408            Black Sheep Token           Token    NaN         Zombie
664               Dark Soul Token           Token    NaN         Zombie

     Attribute     ATK     DEF
1875      WIND  1700.0   300.0
2293      WIND  2400.0  1400.0
2382      WIND  2000.0  1200.0
987       WIND  1800.0  1000.0
170       WIND  1800.0  1200.0
...        ...     ...     ...
805        NaN     NaN     NaN
4444       NaN     NaN     NaN
604        NaN     NaN     NaN
5408       NaN     NaN     NaN
664        NaN     NaN     NaN

[6534 rows x 7 columns]

In [4]:
df = df.sort_values(['Race','Attribute'], ascending = False)
print (df)

                                  Name            Type  Level    Race  \
5156            Supersonic Skull Flame  Effect Monster   10.0  Zombie
6487            Sea Monster of Theseus  Fusion Monster    5.0  Zombie
3666  Sacred Spirit of the Ice Barrier  Spirit Monster    4.0  Zombie
5518      Paladin of the Cursed Dragon  Effect Monster    4.0  Zombie
2084             Spirit of the Pharaoh  Effect Monster    6.0  Zombie
...                                ...             ...    ...     ...
3332                   Evilswarm Ketos  Effect Monster    4.0    Aqua
5654                        Mucus Yolk  Effect Monster    3.0    Aqua
731                        Steam Token           Token    NaN    Aqua
1786               Slime Monster Token           Token    NaN    Aqua
5352                  Ice Coffin Token           Token    NaN    Aqua

     Attribute     ATK     DEF
5156      WIND  2600.0  2000.0
6487     WATER  2200.0  1800.0
3666     WATER  1600.0  1200.0
5518     LIGHT  1900.0  1200.0
2084     LIGHT  2500.0  2000.0
...        ...     ...     ...
3332      DARK  1750.0  1050.0
5654      DARK     0.0   100.0
731        NaN     NaN     NaN
1786       NaN     NaN     NaN
5352       NaN     NaN     NaN

[6534 rows x 7 columns]

In [5]:
df = df.sort_values(['Race','Attribute'], ascending = [1,0])
print (df)

                               Name            Type  Level    Race Attribute  \
1134     Spiritual Beast Pettlephin  Effect Monster    4.0    Aqua      WIND
1047   Ritual Beast Ulti-Pettlephin  Fusion Monster    6.0    Aqua      WIND
4691  Cloudian - Eye of the Typhoon  Effect Monster    8.0    Aqua      WIND
634                  Vortex Trooper  Effect Monster    3.0    Aqua      WIND
835                    Wingtortoise  Effect Monster    3.0    Aqua      WIND
...                             ...             ...    ...     ...       ...
4681                    Wightprince  Effect Monster    1.0  Zombie      DARK
4667                      Ryu Kokki  Effect Monster    6.0  Zombie      DARK
604              Chewbone Jr. Token           Token    NaN  Zombie       NaN
5408              Black Sheep Token           Token    NaN  Zombie       NaN
664                 Dark Soul Token           Token    NaN  Zombie       NaN

         ATK     DEF
1134     0.0  2000.0
1047   200.0  2800.0
4691  3000.0  1000.0
634      0.0   600.0
835   1500.0  1400.0
...      ...     ...
4681     0.0     0.0
4667  2400.0  2000.0
604      NaN     NaN
5408     NaN     NaN
664      NaN     NaN

[6534 rows x 7 columns]

In [6]:
df['Total'] = df.iloc[0:5,5:7].sum(axis=1)
df['Total1'] = df.iloc[0:5,5:7].sum(axis=1)
print (df)

                               Name            Type  Level    Race Attribute  \
1134     Spiritual Beast Pettlephin  Effect Monster    4.0    Aqua      WIND
1047   Ritual Beast Ulti-Pettlephin  Fusion Monster    6.0    Aqua      WIND
4691  Cloudian - Eye of the Typhoon  Effect Monster    8.0    Aqua      WIND
634                  Vortex Trooper  Effect Monster    3.0    Aqua      WIND
835                    Wingtortoise  Effect Monster    3.0    Aqua      WIND
...                             ...             ...    ...     ...       ...
4681                    Wightprince  Effect Monster    1.0  Zombie      DARK
4667                      Ryu Kokki  Effect Monster    6.0  Zombie      DARK
604              Chewbone Jr. Token           Token    NaN  Zombie       NaN
5408              Black Sheep Token           Token    NaN  Zombie       NaN
664                 Dark Soul Token           Token    NaN  Zombie       NaN

         ATK     DEF   Total  Total1
1134     0.0  2000.0  2000.0  2000.0
1047   200.0  2800.0  3000.0  3000.0
4691  3000.0  1000.0  4000.0  4000.0
634      0.0   600.0   600.0   600.0
835   1500.0  1400.0  2900.0  2900.0
...      ...     ...     ...     ...
4681     0.0     0.0     NaN     NaN
4667  2400.0  2000.0     NaN     NaN
604      NaN     NaN     NaN     NaN
5408     NaN     NaN     NaN     NaN
664      NaN     NaN     NaN     NaN

[6534 rows x 9 columns]

In [7]:
df_arg01 = df
df_arg01 = df_arg01[['Name', 'Type','Level', 'Race','Total1','Attribute','ATK','DEF','Total']]
df_arg01.head(5)

,Name,Type,Level,Race,Total1,Attribute,ATK,DEF,Total
1134,Spiritual Beast Pettlephin,Effect Monster,4.0,Aqua,2000.0,WIND,0.0,2000.0,2000.0
1047,Ritual Beast Ulti-Pettlephin,Fusion Monster,6.0,Aqua,3000.0,WIND,200.0,2800.0,3000.0
4691,Cloudian - Eye of the Typhoon,Effect Monster,8.0,Aqua,4000.0,WIND,3000.0,1000.0,4000.0
634,Vortex Trooper,Effect Monster,3.0,Aqua,600.0,WIND,0.0,600.0,600.0
835,Wingtortoise,Effect Monster,3.0,Aqua,2900.0,WIND,1500.0,1400.0,2900.0

In [8]:
print (df.columns)

Index(['Name', 'Type', 'Level', 'Race', 'Attribute', 'ATK', 'DEF', 'Total',
       'Total1'],
      dtype='object')

In [9]:
df_arg02 = df 
cols = list(df_arg02.columns.values)
df_arg02 = df_arg02[cols[0:4] + cols[7:9] + cols[4:7]]
df_arg02.head(5)

,Name,Type,Level,Race,Total,Total1,Attribute,ATK,DEF
1134,Spiritual Beast Pettlephin,Effect Monster,4.0,Aqua,2000.0,2000.0,WIND,0.0,2000.0
1047,Ritual Beast Ulti-Pettlephin,Fusion Monster,6.0,Aqua,3000.0,3000.0,WIND,200.0,2800.0
4691,Cloudian - Eye of the Typhoon,Effect Monster,8.0,Aqua,4000.0,4000.0,WIND,3000.0,1000.0
634,Vortex Trooper,Effect Monster,3.0,Aqua,600.0,600.0,WIND,0.0,600.0
835,Wingtortoise,Effect Monster,3.0,Aqua,2900.0,2900.0,WIND,1500.0,1400.0

In [10]:
df= df.drop (columns = "Total1")
print(df.head(5))

                               Name            Type  Level  Race Attribute  \
1134     Spiritual Beast Pettlephin  Effect Monster    4.0  Aqua      WIND
1047   Ritual Beast Ulti-Pettlephin  Fusion Monster    6.0  Aqua      WIND
4691  Cloudian - Eye of the Typhoon  Effect Monster    8.0  Aqua      WIND
634                  Vortex Trooper  Effect Monster    3.0  Aqua      WIND
835                    Wingtortoise  Effect Monster    3.0  Aqua      WIND

         ATK     DEF   Total
1134     0.0  2000.0  2000.0
1047   200.0  2800.0  3000.0
4691  3000.0  1000.0  4000.0
634      0.0   600.0   600.0
835   1500.0  1400.0  2900.0

In [12]:
df.to_csv('newYugiOh.csv', index = False)