Ak Yamin | 
22FTT1344 | 
DA3304 APDA |

a

In [7]:
import pandas as pd
from numpy import nan as NA 

df = pd.read_csv("class-grades.csv")
df.set_index('Prefix',inplace=True)

print ("Row count = ",len(df))
print ("No.of Attributes = ",len(df.columns))
print("Mean value of Final attributes = ",df['Final'].mean())
print("Highest value of Final attributes = ",df['Final'].max())
print("Lowest value of Final attributes = ",df['Final'].min())
print ("\n\n")

print (df)

Row count =  99
No.of Attributes =  5
Mean value of Final attributes =  68.414375
Highest value of Final attributes =  108.89
Lowest value of Final attributes =  28.06



        Assignment  Tutorial  Midterm  TakeHome  Final
Prefix
5            57.14     34.09    64.38     51.48  52.50
8            95.05    105.49    67.50     99.07  68.33
8            83.70     83.17    30.00     63.15  48.89
7            81.22     96.06    49.38    105.93  80.56
8            91.32     93.64    95.00    107.41  73.89
...            ...       ...      ...       ...    ...
8            96.73    103.71    45.00     93.52  61.94
7            85.34     80.54    41.25     93.70  39.72
8            89.94    102.77    87.50     90.74  87.78
7            95.60     76.13    66.25     99.81  85.56
8            63.40     97.37    73.12     72.78  77.22

[99 rows x 5 columns]

b

In [8]:
Total = 0
for i in df.columns:
    if df[i].isnull().sum() >= 1:
        print("Missing Value in",i,"=", df[i].isnull().sum())
        Total += df[i].isnull().sum()

print("Total missing values =", Total)

Missing Value in TakeHome = 1
Missing Value in Final = 3
Total missing values = 4

c

In [9]:
print('Grabbing NA Data\n')
df_missingvalue = df[df.isna().any(axis=1)]
print(df_missingvalue)
print ('\n\nFill NA')
df_missingvalue.fillna(60)

Grabbing NA Data

        Assignment  Tutorial  Midterm  TakeHome  Final
Prefix
7            72.85     86.85    60.00       NaN  56.11
8            63.40     86.21    63.12     72.78    NaN
6            90.74     89.64    61.25     90.00    NaN
8            71.79    102.87    41.88     24.77    NaN


Fill NA

        Assignment  Tutorial  Midterm  TakeHome  Final
Prefix
7            72.85     86.85    60.00     60.00  56.11
8            63.40     86.21    63.12     72.78  60.00
6            90.74     89.64    61.25     90.00  60.00
8            71.79    102.87    41.88     24.77  60.00

d

In [10]:
print('Grabbing NA Data\n')
df_missingvalue = df[df.isna().any(axis=1)]
print(df_missingvalue)
print ('\n\nFill NA using Mean')
df_missingvalue.fillna(df.mean().round(1))

Grabbing NA Data

        Assignment  Tutorial  Midterm  TakeHome  Final
Prefix
7            72.85     86.85    60.00       NaN  56.11
8            63.40     86.21    63.12     72.78    NaN
6            90.74     89.64    61.25     90.00    NaN
8            71.79    102.87    41.88     24.77    NaN


Fill NA using Mean

        Assignment  Tutorial  Midterm  TakeHome  Final
Prefix
7            72.85     86.85    60.00     80.80  56.11
8            63.40     86.21    63.12     72.78  68.40
6            90.74     89.64    61.25     90.00  68.40
8            71.79    102.87    41.88     24.77  68.40

In [11]:
print('Grabbing NA Data\n')
df_missingvalue = df[df.isna().any(axis=1)]
print(df_missingvalue)
print ('\n\nFill NA using Median')
df_missingvalue.fillna(df.median().round(1))

Grabbing NA Data

        Assignment  Tutorial  Midterm  TakeHome  Final
Prefix
7            72.85     86.85    60.00       NaN  56.11
8            63.40     86.21    63.12     72.78    NaN
6            90.74     89.64    61.25     90.00    NaN
8            71.79    102.87    41.88     24.77    NaN


Fill NA using Median

        Assignment  Tutorial  Midterm  TakeHome  Final
Prefix
7            72.85     86.85    60.00     88.00  56.11
8            63.40     86.21    63.12     72.78  66.20
6            90.74     89.64    61.25     90.00  66.20
8            71.79    102.87    41.88     24.77  66.20

In [12]:
print('Grabbing NA Data\n')
df_missingvalue = df[df.isna().any(axis=1)]
print(df_missingvalue)
print ('\n\nFill NA using Mode')
df_missingvalue.fillna(df.mode().iloc[0])

Grabbing NA Data

        Assignment  Tutorial  Midterm  TakeHome  Final
Prefix
7            72.85     86.85    60.00       NaN  56.11
8            63.40     86.21    63.12     72.78    NaN
6            90.74     89.64    61.25     90.00    NaN
8            71.79    102.87    41.88     24.77    NaN


Fill NA using Mode

        Assignment  Tutorial  Midterm  TakeHome  Final
Prefix
7            72.85     86.85    60.00     83.33  56.11
8            63.40     86.21    63.12     72.78  90.00
6            90.74     89.64    61.25     90.00  90.00
8            71.79    102.87    41.88     24.77  90.00