In [14]:
import pandas as pd
import numpy as np
import matplotlib as mpl


df=pd.read_csv("data_with_missing_values.csv")
df.columns
print(df.describe())
df.loc[(df['mileage'] <10000)&(df.isna().any(axis=1))]

              year         price        mileage       tax(£)          mpg  \
count  4855.000000   4855.000000    4859.000000  4857.000000  4851.000000
mean   2017.107930  12753.368280   21481.761885   121.120033    53.823047
std       1.920304   5993.398593   17709.496711    58.006698    12.744861
min    2000.000000   1200.000000       1.000000     0.000000     1.100000
25%    2016.000000   8000.000000    8338.500000   125.000000    44.800000
50%    2017.000000  11991.000000   17454.000000   145.000000    55.400000
75%    2019.000000  15735.500000   30953.000000   145.000000    60.100000
max    2020.000000  92000.000000  138000.000000   555.000000   256.800000

        engineSize
count  4855.000000
mean      1.457734
std       0.400763
min       0.000000
25%       1.200000
50%       1.600000
75%       1.700000
max       2.900000

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize
517,I800,2019.0,NaN,Manual,5137.0,Diesel,NaN,31.7,2.5
1051,NaN,2020.0,25195.0,Automatic,1500.0,Hybrid,135.0,NaN,1.6
1181,NaN,2019.0,NaN,Manual,8875.0,Petrol,145.0,57.6,1.2
1191,I10,2019.0,8970.0,NaN,9290.0,Petrol,145.0,57.6,1.2
2564,Santa Fe,2019.0,36990.0,NaN,2199.0,Diesel,145.0,39.2,NaN
3208,I10,2020.0,11495.0,Manual,4000.0,NaN,145.0,NaN,1.0
3726,I10,2017.0,NaN,Manual,3149.0,Petrol,150.0,60.1,1.0

In [12]:
Total = 0
for i in df.columns:
    if df[i].isnull().sum() >= 1:
        print("Missing Value in",i,"=", df[i].isnull().sum())
        Total += df[i].isnull().sum()
print("Total missing values =", Total)

Missing Value in model = 3
Missing Value in year = 5
Missing Value in price = 5
Missing Value in transmission = 5
Missing Value in mileage = 1
Missing Value in fuelType = 5
Missing Value in tax(£) = 3
Missing Value in mpg = 9
Missing Value in engineSize = 5
Total missing values = 41

In [10]:
print('\nDisplaying all Missing Data\n')
df_missingvalue = df[df.isna().any(axis=1)]
print(df_missingvalue)

Displaying all Missing Data

          model    year    price transmission  mileage fuelType  tax(£)   mpg  \
60         IX20  2013.0   6000.0       Manual      NaN      NaN   145.0  45.6
407         I10  2016.0      NaN       Manual  20746.0   Petrol    20.0  60.1
409      Tucson  2016.0  13498.0          NaN  26677.0   Diesel    30.0  61.7
517        I800  2019.0      NaN       Manual   5137.0   Diesel     NaN  31.7
580      Tucson     NaN  14998.0       Manual  16814.0   Diesel   145.0   NaN
714         I10  2014.0   5450.0       Manual  42346.0   Petrol    20.0  60.1
1051        NaN  2020.0  25195.0    Automatic   1500.0   Hybrid   135.0   NaN
1181        NaN  2019.0      NaN       Manual   8875.0   Petrol   145.0  57.6
1191        I10  2019.0   8970.0          NaN   9290.0   Petrol   145.0  57.6
1228        NaN  2018.0  15980.0    Automatic  14585.0   Hybrid   140.0  78.5
1343        I10  2019.0   7990.0       Manual  16330.0      NaN   145.0   NaN
1635        I20  2017.0   8995.0       Manual  35500.0      NaN     NaN  62.8
2035     Tucson  2016.0  10222.0       Manual  57535.0   Diesel    30.0  61.7
2272        I10  2017.0      NaN       Manual  21107.0   Petrol   145.0  60.1
2564   Santa Fe  2019.0  36990.0          NaN   2199.0   Diesel   145.0  39.2
2622       IX20     NaN  10690.0       Manual  15853.0   Petrol   150.0  50.4
2958        I10  2017.0   6550.0          NaN  31589.0   Petrol   145.0  60.1
3026       Kona     NaN  16495.0          NaN  16331.0   Petrol   145.0  44.1
3192     Tucson     NaN  12996.0    Semi-Auto  36168.0      NaN   125.0  57.6
3208        I10  2020.0  11495.0       Manual   4000.0      NaN   145.0   NaN
3726        I10  2017.0      NaN       Manual   3149.0   Petrol   150.0  60.1
3791        I10  2017.0   6999.0       Manual  36797.0   Petrol    20.0   NaN
3831        I30  2018.0  12299.0       Manual  21366.0   Diesel   150.0  74.3
3965     Tucson  2017.0  15127.0    Semi-Auto  11353.0   Diesel   145.0   NaN
4413     Tucson  2017.0  13000.0       Manual  10726.0   Diesel   150.0  61.7
4458        I10  2015.0   4999.0       Manual  56000.0   Petrol    20.0   NaN
4480       IX20     NaN   5800.0       Manual  45016.0   Petrol   145.0  45.6
4601   Santa Fe  2015.0  15650.0    Automatic  54991.0   Diesel   265.0   NaN
4603     Tucson  2016.0  13995.0    Semi-Auto  25000.0   Diesel   125.0   NaN
4704       IX35  2011.0   7990.0       Manual  32148.0   Diesel     NaN  48.7

      engineSize
60           1.4
407          1.0
409          1.7
517          2.5
580          1.7
714          NaN
1051         1.6
1181         1.2
1191         1.2
1228         1.6
1343         1.0
1635         1.0
2035         NaN
2272         1.0
2564         NaN
2622         1.4
2958         1.0
3026         1.0
3192         1.7
3208         1.0
3726         1.0
3791         1.0
3831         NaN
3965         1.7
4413         NaN
4458         1.0
4480         1.4
4601         2.2
4603         1.7
4704         2.0