In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl


df=pd.read_csv("data_with_missing_values.csv")
df.columns
print(df.head(5))

     model    year    price transmission  mileage fuelType  tax(£)   mpg  \
0      I20  2017.0   7999.0       Manual  17307.0   Petrol   145.0  58.9
1   Tucson  2016.0  14499.0    Automatic  25233.0   Diesel   235.0  43.5
2   Tucson  2016.0  11399.0       Manual  37877.0   Diesel    30.0  61.7
3      I10  2016.0   6499.0       Manual  23789.0   Petrol    20.0  60.1
4     IX35  2015.0  10199.0       Manual  33177.0   Diesel   160.0  51.4

   engineSize
0         1.2
1         2.0
2         1.7
3         1.0
4         2.0

In [2]:
print(df.describe())
print(df.info())

              year         price        mileage       tax(£)          mpg  \
count  4855.000000   4855.000000    4859.000000  4857.000000  4851.000000
mean   2017.104428  12753.368280   21478.351307   121.120033    53.823047
std       1.967602   5993.398593   17713.633810    58.006698    12.744861
min    1990.000000   1200.000000   -5137.000000     0.000000     1.100000
25%    2016.000000   8000.000000    8338.500000   125.000000    44.800000
50%    2017.000000  11991.000000   17454.000000   145.000000    55.400000
75%    2019.000000  15735.500000   30953.000000   145.000000    60.100000
max    2030.000000  92000.000000  138000.000000   555.000000   256.800000

        engineSize
count  4855.000000
mean      1.457734
std       0.400763
min       0.000000
25%       1.200000
50%       1.600000
75%       1.700000
max       2.900000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4860 entries, 0 to 4859
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         4857 non-null   object
 1   year          4855 non-null   float64
 2   price         4855 non-null   float64
 3   transmission  4855 non-null   object
 4   mileage       4859 non-null   float64
 5   fuelType      4855 non-null   object
 6   tax(£)        4857 non-null   float64
 7   mpg           4851 non-null   float64
 8   engineSize    4855 non-null   float64
dtypes: float64(6), object(3)
memory usage: 341.8+ KB
None

Feature Engineering

Replacing string inside the data

In [3]:
df['model'] = df['model'].str.replace(' ', '')

Catergory Mileage

In [4]:
bins = [-1,10000,20000,30000,40000,50000,60000,140000]
groupname = ['0<10000','10000>20000','20000>30000','30000>40000','40000>50000','50000>60000','>60000']
df['catergory_mileage'] = pd.cut(df['mileage'],bins,labels=groupname)

Catergory Year

In [17]:
bins = [1999,2005,2010,2015,2020]

groupname = ['2000>2005','2005>2010','2010>2015','2015>2020']
df['catergory_year']= pd.cut(df['year'], bins, labels= groupname)

Catergory Tax

In [6]:
bins = [-1,100,150,200,600]
groupname = ['<100','100>150','150>200','>200']
df['catergory_tax'] = pd.cut(df['tax(£)'],bins,labels=groupname)

In [7]:
df.head(5)

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize,catergory_mileage,catergory_year,catergory_tax
0,I20,2017.0,7999.0,Manual,17307.0,Petrol,145.0,58.9,1.2,10000>20000,2015>2020,100>150
1,Tucson,2016.0,14499.0,Automatic,25233.0,Diesel,235.0,43.5,2.0,20000>30000,2015>2020,>200
2,Tucson,2016.0,11399.0,Manual,37877.0,Diesel,30.0,61.7,1.7,30000>40000,2015>2020,<100
3,I10,2016.0,6499.0,Manual,23789.0,Petrol,20.0,60.1,1.0,20000>30000,2015>2020,<100
4,IX35,2015.0,10199.0,Manual,33177.0,Diesel,160.0,51.4,2.0,30000>40000,2010>2015,150>200

Detecting & Remove Outlier

In [8]:
print ("Before")
print(df.loc[(df['mileage'] < 1)])
print(df.loc[(df['year'] >2023) | (df['year'] < 2000)])
df.drop(df[(df['year'] < 2000) | (df['year'] > 2023)].index, inplace=True)
df.drop(df[(df['mileage'] < 1)].index, inplace=True)
print ("After")
print(df.loc[(df['mileage'] < 1)])
print(df.loc[(df['year'] >2023) | (df['year'] < 2000)])

Before
     model    year  price transmission  mileage fuelType  tax(£)   mpg  \
517   I800  2019.0    NaN       Manual  -5137.0   Diesel     NaN  31.7
3726   I10  2017.0    NaN       Manual  -3149.0   Petrol   150.0  60.1

      engineSize catergory_mileage catergory_year catergory_tax
517          2.5               NaN      2015>2020           NaN
3726         1.0               NaN      2015>2020       100>150
     model    year    price transmission  mileage fuelType  tax(£)   mpg  \
1332   I20  2030.0  12991.0       Manual   2637.0   Petrol   145.0  46.3
1635   I20  1990.0   8995.0       Manual  35500.0      NaN     NaN  62.8

      engineSize catergory_mileage catergory_year catergory_tax
1332         1.2           0<10000            NaN       100>150
1635         1.0       30000>40000            NaN           NaN
After
Empty DataFrame
Columns: [model, year, price, transmission, mileage, fuelType, tax(£), mpg, engineSize, catergory_mileage, catergory_year, catergory_tax]
Index: []
Empty DataFrame
Columns: [model, year, price, transmission, mileage, fuelType, tax(£), mpg, engineSize, catergory_mileage, catergory_year, catergory_tax]
Index: []

Calculating Missing Value

In [9]:
total_missing = df.isnull().sum().sum()
for i in df.columns:
    missing_count = df[i].isnull().sum()
    if missing_count >= 1:
        print(f"Missing Value in {i} = {missing_count}")

print(f"Total missing values = {total_missing}")

Missing Value in model = 3
Missing Value in year = 5
Missing Value in price = 3
Missing Value in transmission = 5
Missing Value in mileage = 1
Missing Value in fuelType = 4
Missing Value in tax(£) = 1
Missing Value in mpg = 9
Missing Value in engineSize = 5
Missing Value in catergory_mileage = 1
Missing Value in catergory_year = 6
Missing Value in catergory_tax = 1
Total missing values = 44

Detecting Missing Value

In [10]:
df_missingvalue = df[df.isna().sum(axis=1) >= 2]
df_missingvalue

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize,catergory_mileage,catergory_year,catergory_tax
60,IX20,2013.0,6000.0,Manual,NaN,NaN,145.0,45.6,1.4,NaN,2010>2015,100>150
580,Tucson,NaN,14998.0,Manual,16814.0,Diesel,145.0,NaN,1.7,10000>20000,NaN,100>150
1051,NaN,2020.0,25195.0,Automatic,1500.0,Hybrid,135.0,NaN,1.6,0<10000,2015>2020,100>150
1181,NaN,2019.0,NaN,Manual,8875.0,Petrol,145.0,57.6,1.2,0<10000,2015>2020,100>150
1343,I10,2019.0,7990.0,Manual,16330.0,NaN,145.0,NaN,1.0,10000>20000,2015>2020,100>150
2564,SantaFe,2019.0,36990.0,NaN,2199.0,Diesel,145.0,39.2,NaN,0<10000,2015>2020,100>150
2622,IX20,NaN,10690.0,Manual,15853.0,Petrol,150.0,50.4,1.4,10000>20000,NaN,100>150
3026,Kona,NaN,16495.0,NaN,16331.0,Petrol,145.0,44.1,1.0,10000>20000,NaN,100>150
3192,Tucson,NaN,12996.0,Semi-Auto,36168.0,NaN,125.0,57.6,1.7,30000>40000,NaN,100>150
3208,I10,2020.0,11495.0,Manual,4000.0,NaN,145.0,NaN,1.0,0<10000,2015>2020,100>150
4480,IX20,NaN,5800.0,Manual,45016.0,Petrol,145.0,45.6,1.4,40000>50000,NaN,100>150
4704,IX35,2011.0,7990.0,Manual,32148.0,Diesel,NaN,48.7,2.0,30000>40000,2010>2015,NaN

In [11]:
df.drop(df[df.isna().sum(axis=1) >= 2].index, inplace=True)
print (df)

       model    year    price transmission  mileage fuelType  tax(£)   mpg  \
0        I20  2017.0   7999.0       Manual  17307.0   Petrol   145.0  58.9
1     Tucson  2016.0  14499.0    Automatic  25233.0   Diesel   235.0  43.5
2     Tucson  2016.0  11399.0       Manual  37877.0   Diesel    30.0  61.7
3        I10  2016.0   6499.0       Manual  23789.0   Petrol    20.0  60.1
4       IX35  2015.0  10199.0       Manual  33177.0   Diesel   160.0  51.4
...      ...     ...      ...          ...      ...      ...     ...   ...
4855     I30  2016.0   8680.0       Manual  25906.0   Diesel     0.0  78.4
4856     I40  2015.0   7830.0       Manual  59508.0   Diesel    30.0  65.7
4857     I10  2017.0   6830.0       Manual  13810.0   Petrol    20.0  60.1
4858  Tucson  2018.0  13994.0       Manual  23313.0   Petrol   145.0  44.8
4859  Tucson  2016.0  15999.0    Automatic  11472.0   Diesel   125.0  57.6

      engineSize catergory_mileage catergory_year catergory_tax
0            1.2       10000>20000      2015>2020       100>150
1            2.0       20000>30000      2015>2020          >200
2            1.7       30000>40000      2015>2020          <100
3            1.0       20000>30000      2015>2020          <100
4            2.0       30000>40000      2010>2015       150>200
...          ...               ...            ...           ...
4855         1.6       20000>30000      2015>2020          <100
4856         1.7       50000>60000      2010>2015          <100
4857         1.0       10000>20000      2015>2020          <100
4858         1.6       20000>30000      2015>2020       100>150
4859         1.7       10000>20000      2015>2020       100>150

[4844 rows x 12 columns]

Displaying Missing Value that only have 1 column value missing

In [12]:
print('\nDisplaying all Missing Data\n')
df_missingvalue_1row = df[df.isna().sum(axis=1)==1]
df_missingvalue_1row

Displaying all Missing Data

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize,catergory_mileage,catergory_year,catergory_tax
407,I10,2016.0,NaN,Manual,20746.0,Petrol,20.0,60.1,1.0,20000>30000,2015>2020,<100
409,Tucson,2016.0,13498.0,NaN,26677.0,Diesel,30.0,61.7,1.7,20000>30000,2015>2020,<100
714,I10,2014.0,5450.0,Manual,42346.0,Petrol,20.0,60.1,NaN,40000>50000,2010>2015,<100
1191,I10,2019.0,8970.0,NaN,9290.0,Petrol,145.0,57.6,1.2,0<10000,2015>2020,100>150
1228,NaN,2018.0,15980.0,Automatic,14585.0,Hybrid,140.0,78.5,1.6,10000>20000,2015>2020,100>150
2035,Tucson,2016.0,10222.0,Manual,57535.0,Diesel,30.0,61.7,NaN,50000>60000,2015>2020,<100
2272,I10,2017.0,NaN,Manual,21107.0,Petrol,145.0,60.1,1.0,20000>30000,2015>2020,100>150
2958,I10,2017.0,6550.0,NaN,31589.0,Petrol,145.0,60.1,1.0,30000>40000,2015>2020,100>150
3791,I10,2017.0,6999.0,Manual,36797.0,Petrol,20.0,NaN,1.0,30000>40000,2015>2020,<100
3831,I30,2018.0,12299.0,Manual,21366.0,Diesel,150.0,74.3,NaN,20000>30000,2015>2020,100>150
3965,Tucson,2017.0,15127.0,Semi-Auto,11353.0,Diesel,145.0,NaN,1.7,10000>20000,2015>2020,100>150
4309,Accent,2000.0,1295.0,Automatic,47000.0,Petrol,150.0,38.7,1.3,40000>50000,NaN,100>150
4413,Tucson,2017.0,13000.0,Manual,10726.0,Diesel,150.0,61.7,NaN,10000>20000,2015>2020,100>150
4458,I10,2015.0,4999.0,Manual,56000.0,Petrol,20.0,NaN,1.0,50000>60000,2010>2015,<100
4601,SantaFe,2015.0,15650.0,Automatic,54991.0,Diesel,265.0,NaN,2.2,50000>60000,2010>2015,>200
4603,Tucson,2016.0,13995.0,Semi-Auto,25000.0,Diesel,125.0,NaN,1.7,20000>30000,2015>2020,100>150

In [13]:
df.dropna(subset=['model'], inplace=True)
modeyear_model = df.groupby('model')['year'].apply(lambda x: x.mode().iloc[0])
df['year'].fillna(df['model'].map(modeyear_model), inplace=True)

modeprice_model = df.groupby('model')['price'].apply(lambda x: x.mode().iloc[0])
df['price'].fillna(df['model'].map(modeprice_model), inplace=True)

modetransmission_modelyear = df.groupby(['model', 'year'])['transmission'].apply(lambda x: x.mode().iloc[0]).reset_index()
df = df.merge(modetransmission_modelyear, on=['model', 'year'], how='left', suffixes=('', '_mode'))
df['transmission'].fillna(df['transmission_mode'], inplace=True)
df.drop(columns='transmission_mode', inplace=True)

modeengine_model = df.groupby('model')['engineSize'].apply(lambda x: x.mode().iloc[0])
df['engineSize'].fillna(df['model'].map(modeengine_model), inplace=True)

modempg_modelyeartransmission = df.groupby(['model', 'year', 'transmission'])['mpg'].transform(lambda x: x.mode().iloc[0])
df['mpg'].fillna(modempg_modelyeartransmission, inplace=True)

modetax_mpgmodelyeartransmission = df.groupby(['model', 'year', 'transmission','fuelType'])['tax(£)'].transform(lambda x: x.mode().iloc[0])
df['tax(£)'].fillna(modetax_mpgmodelyeartransmission, inplace=True)

In [18]:
print('\nDisplaying all Missing Data\n')
df_missingvalue_1row = df[df.isna().sum(axis=1)==1]
df_missingvalue_1row

Displaying all Missing Data

Empty DataFrame
Columns: [model, year, price, transmission, mileage, fuelType, tax(£), mpg, engineSize, catergory_mileage, catergory_year, catergory_tax]
Index: []

In [15]:
df.describe()

,year,price,mileage,tax(£),mpg,engineSize
count,4843.000000,4843.000000,4843.000000,4843.000000,4843.000000,4843.000000
mean,2017.106546,12747.881065,21499.822218,121.056164,53.830642,1.457857
std,1.917604,5985.728788,17718.756766,58.077369,12.742820,0.400626
min,2000.000000,1200.000000,1.000000,0.000000,1.100000,0.000000
25%,2016.000000,8000.000000,8360.000000,125.000000,44.800000,1.200000
50%,2017.000000,11990.000000,17475.000000,145.000000,55.400000,1.600000
75%,2019.000000,15731.000000,30953.000000,145.000000,60.100000,1.700000
max,2020.000000,92000.000000,138000.000000,555.000000,256.800000,2.900000

In [19]:
df.to_csv("Cleaned_data.csv", index=False)