In [8]:
import pandas  as pd
import numpy as np

df = pd.read_csv('CarSales.csv')

print (df)

                                           Car  Model      Km           Color  \
0            Alfa Romeo 156 1.6 TS Progression   2005  251000             Gri
1      Alfa Romeo 159 1.9 JTD Distinctive Plus   2006  275000            Füme
2           Alfa Romeo 159 1.9 JTD Distinctive   2008  187000           Siyah
3            Alfa Romeo 156 1.6 TS Distinctive   2004  239000            Füme
4            Alfa Romeo 147 1.6 TS Distinctive   2004  214000             NaN
...                                        ...    ...     ...             ...
49580             Renault Fluence 1.5 dCi Icon   2014   91500  Mavi (metalik)
49581            Renault Fluence 1.5 dCi Touch   2014  137000     Gri (Gümüş)
49582         Renault Fluence 1.5 dCi Business   2012  177000             Gri
49583       Renault Fluence 1.5 dCi Touch Plus   2014  203000   Gri (metalik)
49584            Renault Fluence 1.5 dCi Touch   2015  109000           Beyaz

            Price     Listing Date  Day  Month  Year  Province    District
0       53.500 TL    01 Eylül 2020    1      9  2020     İzmir    Gaziemir
1       92.000 TL    01 Eylül 2020    1      9  2020     Muğla    Marmaris
2       99.750 TL    01 Eylül 2020    1      9  2020  İstanbul     Maltepe
3       60.000 TL  31 Ağustos 2020   31      8  2020  İstanbul    Esenyurt
4       55.000 TL  31 Ağustos 2020   31      8  2020     Adana      Seyhan
...           ...              ...  ...    ...   ...       ...         ...
49580  123.500 TL   16 Temmuz 2020   16      7  2020   Trabzon     Çaykara
49581  124.800 TL   16 Temmuz 2020   16      7  2020     Konya     Karatay
49582   86.500 TL   16 Temmuz 2020   16      7  2020  İstanbul      Pendik
49583  115.000 TL   16 Temmuz 2020   16      7  2020  İstanbul  Bayrampaşa
49584  110.000 TL   16 Temmuz 2020   16      7  2020  İstanbul    Esenyurt

[49585 rows x 11 columns]

In [10]:
df.head(5)

,Car,Model,Km,Color,Price,Listing Date,Day,Month,Year,Province,District
0,Alfa Romeo 156 1.6 TS Progression,2005,251000,Gri,53.500 TL,01 Eylül 2020,1,9,2020,İzmir,Gaziemir
1,Alfa Romeo 159 1.9 JTD Distinctive Plus,2006,275000,Füme,92.000 TL,01 Eylül 2020,1,9,2020,Muğla,Marmaris
2,Alfa Romeo 159 1.9 JTD Distinctive,2008,187000,Siyah,99.750 TL,01 Eylül 2020,1,9,2020,İstanbul,Maltepe
3,Alfa Romeo 156 1.6 TS Distinctive,2004,239000,Füme,60.000 TL,31 Ağustos 2020,31,8,2020,İstanbul,Esenyurt
4,Alfa Romeo 147 1.6 TS Distinctive,2004,214000,NaN,55.000 TL,31 Ağustos 2020,31,8,2020,Adana,Seyhan

In [11]:
df.head(10)

,Car,Model,Km,Color,Price,Listing Date,Day,Month,Year,Province,District
0,Alfa Romeo 156 1.6 TS Progression,2005,251000,Gri,53.500 TL,01 Eylül 2020,1,9,2020,İzmir,Gaziemir
1,Alfa Romeo 159 1.9 JTD Distinctive Plus,2006,275000,Füme,92.000 TL,01 Eylül 2020,1,9,2020,Muğla,Marmaris
2,Alfa Romeo 159 1.9 JTD Distinctive,2008,187000,Siyah,99.750 TL,01 Eylül 2020,1,9,2020,İstanbul,Maltepe
3,Alfa Romeo 156 1.6 TS Distinctive,2004,239000,Füme,60.000 TL,31 Ağustos 2020,31,8,2020,İstanbul,Esenyurt
4,Alfa Romeo 147 1.6 TS Distinctive,2004,214000,NaN,55.000 TL,31 Ağustos 2020,31,8,2020,Adana,Seyhan
5,Alfa Romeo Giulietta 1.6 JTD Progression Plus,2011,222023,Siyah,105.900 TL,31 Ağustos 2020,31,8,2020,Adana,Seyhan
6,Alfa Romeo Giulietta 1.4 TB MultiAir Distinctive,2012,90000,Beyaz,145.000 TL,31 Ağustos 2020,31,8,2020,Bursa,Nilüfer
7,Alfa Romeo Giulietta 1.4 TB MultiAir Distinctive,2011,165000,Bordo,115.750 TL,31 Ağustos 2020,31,8,2020,İstanbul,Şişli
8,Alfa Romeo MiTo 1.4 T Distinctive,2010,109000,Kırmızı,110.750 TL,31 Ağustos 2020,31,8,2020,İstanbul,Kağıthane
9,Alfa Romeo 147 1.6 TS Distinctive,2006,180000,Siyah,55.000 TL,31 Ağustos 2020,31,8,2020,Antalya,Kepez

In [12]:
df.columns

Index(['Car', 'Model', 'Km', 'Color', 'Price', 'Listing Date', 'Day', 'Month',
       'Year', 'Province', 'District'],
      dtype='object')

In [14]:
df.iloc[11]

Car             Alfa Romeo Giulietta 1.4 TB MultiAir Distinctive
Model                                                       2015
Km                                                         80000
Color                                                      Beyaz
Price                                                 169.000 TL
Listing Date                                     31 Ağustos 2020
Day                                                           31
Month                                                          8
Year                                                        2020
Province                                                 Bilecik
District                                                Osmaneli
Name: 11, dtype: object

In [17]:
df['Car'][11]

'Alfa Romeo Giulietta 1.4 TB MultiAir Distinctive'

In [26]:
df.loc[df['Model'] == 1980]

,Car,Model,Km,Color,Price,Listing Date,Day,Month,Year,Province,District
25089,Honda Accord 2.0 EX,1980,299000,Gri,21.500 TL,28 Ağustos 2020,28,8,2020,Bursa,İnegöl
32041,Mercedes - Benz 240 D,1980,289999,Beyaz,17.000 TL,25 Ağustos 2020,25,8,2020,Mardin,Ömerli
32220,Mercedes - Benz 300 D,1980,300000,NaN,20.000 TL,23 Ağustos 2020,23,8,2020,Konya,Akşehir
33517,Mercedes - Benz 300 D,1980,205000,Mavi,27.500 TL,02 Ağustos 2020,2,8,2020,Van,Tuşba

In [24]:
df.describe()

              Model           Day         Month     Year
count  49585.000000  49585.000000  49585.000000  49585.0
mean    2010.280508     18.123505      7.686720   2020.0
std        6.067248      8.573917      0.784057      0.0
min     1970.000000      1.000000      1.000000   2020.0
25%     2007.000000     12.000000      7.000000   2020.0
50%     2012.000000     19.000000      8.000000   2020.0
75%     2015.000000     26.000000      8.000000   2020.0
max     2020.000000     31.000000      9.000000   2020.0

In [ ]:
"""Average Used Car Model is 2010"""

In [25]:
df['Model'].value_counts()

Model
2012    4947
2011    4388
2013    3875
2016    3772
2015    3745
2017    3069
2014    2962
2010    2636
2008    2099
2004    1988
2006    1930
2009    1780
2005    1738
2007    1431
2018    1365
2000    1120
2019     918
2001     914
1998     831
2003     677
2020     622
1999     595
1997     471
2002     362
1996     283
1994     242
1993     159
1995     148
1991     112
1990      89
1992      78
1986      49
1987      47
1988      41
1989      39
1985      22
1984      19
1981       5
1980       4
1976       3
1983       3
1974       1
1982       1
1978       1
1970       1
1979       1
1973       1
1975       1
Name: count, dtype: int64